h1 {
    font-size: 1.3em;
    font-weight: 900;
}
.tweetbox {
    display: flex;
    border: 1px solid #e6ecf0;
    border-bottom: 10px solid #e6ecf0;
}

.tweetInput {
    font-size: 1.1em;
    letter-spacing: 1px;
    height: 60px;
    border: none;
}

.tweetInput:focus {
    outline: none;
}
input::-webkit-input-placeholder {
    color: #9ba0ab;
}
input:focus::-webkit-input-placeholder {
    color: #c5c9d0;
}

.homeToolbar {
    border: 1px solid #e6ecf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tweetboxButton {
    background-color: rgb(142, 208, 248);
    cursor: pointer;
    color: white;
    border: none;
    font-size: 1.1em;
    font-weight: bolder;
    width: 100%;
    height: 2em;
    border-radius: 100px;
    line-height: 2em;
}
.tweetboxButton:hover {
    background-color: rgb(25, 138, 209);
}

.tweetToolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.svgIcon {
    cursor: pointer;
    height: 1.5em;
    padding: 10px;
    fill: rgb(29, 161, 242);
}

.svgIcon:hover {
    background-color: rgba(25, 138, 209, 0.1);
    border-radius: 100%;
}
.tweetIcons {
    cursor: pointer;
    height: 1.5em;
    padding: 10px;
    fill: rgb(101, 119, 134);
}
.likeIcons {
    cursor: pointer;
    height: 1.5em;
    padding: 10px;
    fill: rgb(101, 119, 134);
}
.likeIcons:hover {
    cursor: pointer;
    height: 1.5em;
    padding: 10px;
    fill: red;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 100%;
}
.retweetIcons {
    cursor: pointer;
    height: 1.5em;
    padding: 10px;
    fill: rgb(101, 119, 134);
}
.retweetIcons:hover {
    cursor: pointer;
    height: 1.5em;
    padding: 10px;
    fill: green;
    background-color: rgba(0, 128, 0, 0.1);
    border-radius: 100%;
}
.otherIcons {
    cursor: pointer;
    height: 1.5em;
    padding: 10px;
    fill: rgb(101, 119, 134);
}
.otherIcons:hover {
    cursor: pointer;
    height: 1.5em;
    padding: 10px;
    fill: rgb(25, 138, 209);
    background-color: rgba(25, 138, 209, 0.1);
    border-radius: 100%;
}
.likeIconActive {
    cursor: pointer;
    height: 1.5em;
    padding: 10px;
    fill: red;
    color: red;
}
.likeIcon {
    cursor: pointer;
    height: 1.5em;
}
.likedPost {
    color: red;
}
.icons {
    flex: 4;
}
.tweetboxButtonHolder {
    flex: 1;
}
