.wrapper {
  margin: 0 15%;
  display: flex;
  border: 2px solid red;
}

.mobile {
  visibility: hidden;

}

@media only screen and (max-width: 1000px) {
    body {
    background-color: lightblue;
    }
    .invisible{
    display: none;
    }
    .trends{
      display: none;
    }
   
  .mobile {
    visibility: visible;
  }
  
  }
